h1 {
    text-align: center;
    font-family: 'Baloo', cursive;
    font-weight: 5000;
  }

  body {
    font-size: large;
    border-right: 10px 
    border-left: 10px 
    
  }

  h2 {
    text-decoration: underline;
    font-family: 'Fredoka One', cursive;
  }
  


.bg-img {
    background-image: url("Ghanaians.png");
    min-height: 390px;
  }